body {
    font-family: Arial, sans-serif;
    background-color: #15487b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    color: black;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    position: relative;
}
.container1 {
    background: white;
    color: rgb(0, 0, 0);
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    position: relative;
}
.container2 {
    background: white;
    color: black;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 100%;
    position: relative;
}
.header h1 {
    background-color: #3a74a0;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.header img {
    width: 100px;
    margin: 10px 0;
}
.header1 h1 {
    background-color: #15487b;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.header1 img {
    width: 100px;
    margin: 10px 0;
}
.header2 h1 {
    background-color: #E62727;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.header2 img {
    width: 100px;
    margin: 10px 0;
}
.list .item {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #f4b400;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}
.list .item:hover {
    background-color: #c49000;
}
.list1 .item1 {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #ff06a8;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}
.list1 .item1:hover {
    background-color: #d84ba7;
}
.list2 .item2 {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #16C47F;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}
.list2 .item2:hover {
    background-color: #00da83;
}
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: #2a5d84;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.back-button:hover {
    background-color: #1f4b6e;
}
.back-button1 {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: #ff06a8;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.back-button1:hover {
    background-color: #d84ba7;
}
.back-button2 {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    background-color: #16C47F;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.back-button2:hover {
    background-color: #00da83;
}
.content {
    margin: 20px 0;
    font-size: 14px;
    text-align: justify;
}
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
